body,html,*
{
    padding: 0em;
    margin: 0em;      
}
body{
    background-image: url('images/brick.png');
    background-size: 10vh;
    background-repeat: repeat;
    background-color:brown;
}
.sky
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2vh;
    overflow: hidden;
    height: 25vh;
}
.cloud1
{
    position: relative;
    height: 10vh;
    left : 40%;
}
.cloud2
{
    position: relative;
    left : 70%;
    height: 10vh;
}
.avtar
{
    position: absolute;
    height: 30vh;
    top:50vh;
}
.header
{
    background: #2DBEF2;
    border-bottom: 5vh solid limegreen;
    
    height:auto;
    width: 100%;

}
.sun {
    height: 16vh;
    width: 16vh;
    
    background-color: #FAFD0F;
    border-radius: 50%;
    display: inline-block;
}
.ground
{
    display: flex;
    align-items: flex-end;
    height: 50vh;
    overflow: hidden;
    /* justify-content: space-around; */
}
.tree
{
    height: 30vh;
    position: relative;
    left: 70vw;
    justify-content: flex-end;    
}
.pipe
{
    height: 30vh;
    
    position: relative;
    left: 50vw;
}
.coin
{
    height: 10vh;
    
    position: absolute;
    left: 10vw;
    align-self: flex-start;
}
.name
{
    font-size: 5vh;
    color:white;
    display: none;
    position: absolute;
    align-self: center;
    left: 10vw;
    align-self: flex-start;
    font-family: 'Cabin', sans-serif;

}
header{
    min-height: 20vh;
    display: flex;
    flex-direction: row;
    color:white;
    width: 100%;
    display: none;
    align-items: center;

}
.heading{
    font-size: 5vh;
    color:white;
    display: none;
    position: absolute;
    align-self: center;
    left: 50vw;
    
    font-family: 'Cabin', sans-serif;
}
.dig-avatar
{
    height: 20vh;
    display: none;
}
.aboutme
{
    display: none;
}